/* global style */
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --main-color:#343434;
    --secondray-color:#748182;
--black-color:#1c1c1c
}
p{
    color: var(--secondray-color);
}
.take-color{
    color: var(--main-color) !important;
}
.heading-color{
    color: var(--black-color) !important;
}
/* navbar */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(0,0,0,0.3),var(--bs-bg-opacity)!important;
}
nav li a{
   padding: 0px !important;
    position: relative;
}
nav li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s;
}
nav li a.active::after {
    width: 100%;
    margin: auto;
}

/* home */
.home{
    background-image: linear-gradient(#000a, #000a),url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.home .container{
    padding-top: 104px;
}
.home .fa-brands{
    color: white;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home p::after{
    content: '';
    font-weight:300;
    animation: typing 5s infinite;
}
@keyframes typing {
    0%,29.8%{
        content: 'L|';
    }
    0.9%,28.9%{
        content: 'La|';
    }
    1.8%,28%{
        content: 'Lar|';
    }
    2.7%,27.1%{
        content: 'Larr|';
    }
    3.6%,26.2%{
        content: 'Larry|';
    }
    4.5%,25.3%{
        content: 'Larry D|';
    }
    5.4%,24.4%{
        content: 'Larry Da|';
    }
    6.3%,23.5%{
        content: 'Larry Dan|';
    }
    7.2%,22.6%{
        content: 'Larry Dani|';
    }
    8.1%,21.7%{
        content: 'Larry Danie|';
    }
    9%,20.8%{
        content: 'Larry Daniel|';
    }
    9.9%,19.9%{
        content: 'Larry Daniels|';

    }
 30.7%,63.7%{
        content: '|';
    }
    32%,62.4%{
        content: 'D|';
    }
    33.3%,61.1%{
        content: 'De|';
    }
    34.6%,59.8%{
        content: 'Dev|';
    }
    35.5%,58.5%{
        content: 'Deve|';
    }
    36.8%,57.2%{
        content: 'Devel|';
    }
    38.1%,55.9%{
        content: 'Develo|';
    }
    39.4%,54.6%{
        content: 'Develop|';
    }
    40.7%,53.3%{
        content: 'Develope|';
    }
    42%,52%{
        content: 'Developer|';
    }
    65.1%,94.7%{
        content: 'D|';
    }
    66.5%,93.3%{
        content: 'De|';
    }
    67.9%,91.9%{
        content: 'Des|';
    }
    69.3%,90.5%{
        content: 'Desi|';
    }
    70.7%,89.1%{
        content: 'Desig|';
    }
    72.1%,87.7%{
        content: 'Design|';
    }
    73.5%,86.3%{
        content: 'Designe|';
    }
    74.9%,84.9%{
        content: 'Designer|';
    }
   100%{
        content: '|';
    }
}
 /* about */
 .progress-bar-update {
    display: flex;
     flex-direction: row; 
    justify-content: space-between;
    background-color: #1c1c1c;
  padding: 7px;
  font-size: 14px;
 
 }
 .about .progress-bar-update h6{
font-size: 13px;
 }
 .progress-update{
    
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;;
    --bs-progress-height: 1.7rem;
    --bs-progress-font-size: 0.2rem;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background: #f7f7f7;
    border-radius: var(--bs-progress-border-radius);
}
.btn-outline1 {
    --bs-btn-color: var(--black-color);
    --bs-btn-border-color: var(--black-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--black-color);
    --bs-btn-hover-border-color: var(--black-color);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-gradient: none;
   
    --bs-btn-padding-x: 1.40rem;
    --bs-btn-padding-y: 0.40rem;
  }
  .btn-outline2{
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--black-color);
    --bs-btn-border-color: var(--black-color);
    --bs-btn-hover-color: var(--black-color);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: var(--black-color);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-gradient: none;
   
    --bs-btn-padding-x: 1.40rem;
    --bs-btn-padding-y: 0.40rem;
  }
  .about .img-container:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    left: 0px;
    bottom: -30px;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    z-index: -2;
}

/* services */
.services{
    background-color: #f7f7f7;
}
.head-line{
    position: relative;
    font-weight: 900;
    z-index: 4;
    width: fit-content;
    margin: auto;
}

.head-line::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    bottom: -5px;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    z-index: -5;
}
.services .fa-solid{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .cards:hover .fa-solid{
    background-color: var(--black-color);
    color: white;
}

/* portfolio */
.portfolio .nav-pills{
    width: fit-content;
    margin: auto;
}
.nav-pills .nav-link {
    
    color: #111;
    font-weight: 700;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .nav-link:hover {
    background-color: var(--color-main);
    color: #111;
    
  }
  .portfolio .nav-link{
    position: relative;
  }
  .portfolio .nav-link::after{
content: '';
position: absolute;
bottom: 0px;
left: 25%;
height: 2px;
width: 0%;
background-color: #111; 
transition: all 0.5s;
 }

.portfolio button.active::after{
    width: 50%;
}
.portfolio .inner{
    position: relative;
}
.portfolio .layer{
    position: absolute;
    width: 96%;
    background-color: #fff;
    height: 96%;
    top: 2%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(10px);
}
.portfolio .layer:hover{
opacity: 1;
transform: translateY(0);
}
.portfolio .layer:hover h6{
    transform: translateY(0px);
}
.layer h6{
    transform: translateY(-15px);
    transition: all 1s;
}
.portfolio .layer .fa-solid{
    height: 30px;
    width: 30px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.portfolio .layer .fa-solid:hover{
 color: #000 !important;
    background-color: #fff;
    border: #000 solid 1px;
    
}

/* clients */
.clients{
    background-color: #f7f7f7;
}
.img-resize img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}
.carousel-indicators {
    top: 100%;
}
.carousel-indicators [data-bs-target] {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    
    background-color: #343434;
   
}

/* raiting */
.rating .inner .fa-solid, h3{
    font-weight: 900 !important;
}

/* team */
.team{
    background-color: #f7f7f7;
}
.card .card-body{
    background-color: #5b5b5b;
}
.team .inner{
    position: relative;
}
.team .inner .layer{
    position: absolute;
    width: 96%;
    background-color: #fffd;
    height: 96%;
    top: 2%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: rotateY(180deg);
    opacity: 0;
    transition: all 0.5s; 
}
.team .card:hover .layer{
    opacity: 1;
    transform: rotateY(0deg);
}
.team .inner{
    overflow: hidden;
}
.team .inner img{
   
    transition: all 0.5s;
}
.team .inner:hover img{
    transform: scale(1.3)
}
.team .layer .fa-brands{
    height: 40px;
    width: 40px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;}

.team .layer .fa-brands:hover{
 color: #000 !important;
    background-color: #fff;
    border: #000 solid 1px;
}

/* contact */
.contact .inner .fa-solid{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s;
}
.contact .inner:hover .fa-solid{
    background-color: #000;
    color: #fff;
}
textarea{
    resize: none;
    max-height: 200px;
}

.form-control {
   
   background-color: #f4f4f4;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color);
    border:0px;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: #f4f4f4;
    border-color: 0px;
    outline: 0;
    box-shadow:none;
}
form a{
   
    --bs-btn-font-size: 13px !important;
  
}

/* footer */
footer{
background-color: var(--black-color);
}
footer p{
    color: #748182;
}
